/* 


sytlesheet for CSS Demo 


*/

/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /*-----utility classes----------*/
  .container{
      width: 70vw;
      margin: 40px auto;
  }



body {
   
}
/*---------Global sizing-------------*/
/*---------color scheme 
primary #8160F5----------*/
body {
    font-family: 'Shadows Into Light', cursive;


}
header.primary{
    background:#8160F5;
    text-align:center;
    padding: 40px 40px;

}

header.primary h1 {
    font-size: 2.6rem;
    margin:20px 0;
}

header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}

header.primary h2{
    fontsize:1.4rem;
    /* top left/right bottom*/
    margin:20px auto 40px
}

header.primary nav{
    width:80vw;
    margin: 0px auto;
    max-width: 900px;

}
header.primary nav ul{
    /* centers list */
    padding: 0; 
    display:flex;
    flex-direction: row;
    justify-content:space-between;


}

header.primary nav ul li{

    list-style-type: none;
}

header.primary nav ul li a{
    color:#ffffff;
    text-decoration: none;
    background-color: rgb(16, 88, 221);
    background-color:rgba(0,0,0,4);
    padding: 8px 16px;
    display: inline-block;
    border-radius: 20px;
    transition: .5s;
}

header.primary nav a:hover{
   background-color: rgba(0,0,0,8);
}

#intro{
    border-bottom: 1px solid #000000;
    padding-bottom: 1.1rem;
} 

#intro h2{
    color:#8160f5;
    border-bottom: 1px dotted #000000;
    

}



