/* 


sytlesheet for CSS Demo 


*/

/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /*-----utility classes----------*/
  .container{
      width: 70vw;
      margin: 40px auto;
  }

  img{
      max-width: 100%;
  }



body {
   
}
/*---------Global sizing-------------*/
/*---------color scheme 
primary #8160F5----------*/
body {
    font-family: 'Shadows Into Light', cursive;


}
header.primary{
    background:#8160F5;
    text-align:center;
    padding: 40px 40px;

}

header.primary h1 {
    font-size: 2.6rem;
    margin:20px 0;
}

header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}

header.primary h2{
    fontsize:1.4rem;
    /* top left/right bottom*/
    margin:20px auto 40px
}

header.primary nav{
    width:80vw;
    margin: 0px auto;
    max-width: 900px;

}
header.primary nav ul{
    /* centers list */
    padding: 0; 
    display:flex;
    flex-direction: row;
    justify-content:space-between;


}

header.primary nav ul li{

    list-style-type: none;
}

header.primary nav ul li a{
    color:#ffffff;
    text-decoration: none;
    background-color: rgb(16, 88, 221);
    background-color:rgba(0,0,0,0.4);
    padding: 8px 16px;
    display: inline-block;
    border-radius: 20px;
    transition: .5s;
}

header.primary nav a:hover{
   background-color: rgba(0,0,0,8);
}

#intro{
    border-bottom: 1px solid #000000;
    padding-bottom: 1.1rem;
} 

#intro h2{
    color:#8160f5;
    border-bottom: 1px dotted #000000;
    

}













#content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px #000000;


}

#additional-elements h2{
    color: #8160F5;
    border-bottom: 1px dotted #000000;

} 

#additional-elements h3{
    border-left: 10px solid #8160F5
    
    padding: 5px 10px;

}
#additional-elements a{
    color:#c0c0c0 

}

.img-right{
    float: right;
    margin: 20px;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

.img-left{
    float: right;
    margin: 20px;
    border: 1px solid #c0c0c0;
    padding: 5px;
}
.img-center{
    float: right;
    margin: 20px;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

table{
    width:100%;
    border: 1px solid #000000;
    border-collapse: collapse;


}

tr{}

tr:nth-child(odd){
    background-color: beige;
}

tr:hover{
    background-color: rgba(0,0,0,0.4);
}

td:nth-child(2n), td:nth-child(3n){
    text-align: right;
}

th{
    background: aquamarine;
    color: #8160f5;
    width: 33%;
    padding: 10px;
}
td{
    border: 1px solid #000000;
    padding: 5px;
    

}

dl{}
dt{
    font-weight:bold;
    

}
dd{
    margin-left: 0;
}

dd +dt{
    background-color: aqua;
    
}

#additional-elements a: hover{
    text-decoration: none;

}

#content article.post{
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    padding: 10px;
    border-radius: 4px;
    font-size: .7rem;
}

#content article.post:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
    transition: 0.5s;
}

time.post-date, figcaption, .post-meta{
    text-transform: uppercase;
    color: #c0c0c0;
}

.post figure{
    margin: 0;

}

.post img{
    border: solid #c0c0c0;
    padding: 2px;
    margin: 5px 0;
}

.post a{
    color:#8160f5;
}

.post a:hover, .post a:active{
    text-decoration: none;


}

aside[role="complementary"]{
    background-color: cornflowerblue;
    color: #ffffff;
    padding: 1.8rem;

}

aside div.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

aside article.widget{
    width: 42%;

}

article.widget a{
    color: whitesmoke;
    display: block;
    margin-top: 0.9rem;
    text-align: right;
}

article.widget footer{
    display: none;
}

#colophon{
    background-color: #8160f5;
    padding: 20px;
    
}